<head>
    <link rel="stylesheet" type="text/css" href="/assets/css/bookNew.css">
</head>
<div>
    <h2>New Book:</h2>

    <form action="/books" method="post" accept-charset="utf-8">
        <p>
            <label>New Title:</label>
            <input type="text" name="title" />
        </p>
        <p>
            <label>Number of Pages:</label>
            <input type="text" name="numberOfPages" />
        </p>
        <p>
            <label>Author:</label>
            <input type="text" name="author" />
        </p>
        <p>
            <label>Genre:</label>
            <input type="text" name="genre" />
        </p>
        <p>
            <label>Worth reading?: (true or false)</label>
            <input type="text" name="worthReading" />
        </p>
        <p>
            <label>Year:</label>
            <input type="text" name="year" />
        </p>
        <p>
            <label>Hardcover?: (true or false)</label>
            <input type="text" name="hardcover" />
        </p>
        <p>
            <label>Paperback?: (true or false)</label>
            <input type="text" name="paperback" />
        </p>
        <p>
            <label>Picture URL</label>
            <input type="text" name="picture" />
        </p>
        <input class="button" type="submit" value="Create" />
    </form>
</div>