<head>
    <link rel="stylesheet" type="text/css" href="/assets/css/movieNew.css">
</head>
<div>
    <h2>New Movie:</h2>

    <form action="/movies" method="post" accept-charset="utf-8">
        <p>
            <label>New Title:</label>
            <input type="text" name="title" />
        </p>
        <p>
            <label>Writer:</label>
            <input type="text" name="writer" />
        </p>
        <p>
            <label>Director:</label>
            <input type="text" name="director" />
        </p>
        <p>
            <label>Year:</label>
            <input type="text" name="year" />
        </p>
        <p>
            <label>Genre:</label>
            <input type="text" name="genre" />
        </p>
        <p>
            <label>Worth Watching: (enter true or false)</label>
            <input type="text" name="worthTheWatch" />
        </p>
        <p>
            <label>Own it on Blu Ray: (enter true or false)</label>
            <input type="text" name="bluRay" />
        </p>
        <p>
            <label>Own it on DVD: (enter true or false)</label>
            <input type="text" name="dvd" />
        </p>
        <p>
            <label>Picture URL</label>
            <input type="text" name="picture" />
        </p>
        <input class="button" type="submit" value="Create" />
    </form>
</div>